<nav class="navbar sticky-top navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button">Main button</button>
  </form>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1596641532299-7cf6455a1363?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80);">
  <div class="container">
    <h1>Welcome <strong>to</strong> <strong>to your own Wishlist</strong>!</h1>
    <p>Change your life and pick a movie for once.</p>
    <%= link_to "Create New List", new_list_path, class: "btn btn-light" %>
  </div>
</div>
<div>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1597002565316-642989cef8bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2053&q=80)">
      <%= link_to "#{list.name}", list_path(list), class: "btn btn-light" %>
    </div>
  <% end %>
