<h1>Welcome!</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
     <p><%= link_to bookmak.name, restaurant_path(restaurant) %>- address: <%= restaurant.address %> - phone_number: <%= restaurant.phone_number %> - category: <%= restaurant.category %></p>
    </li>
  <% end %>
</ul>
